# List of postal codes of Canada: M

This is a list of postal codes in Canada where the first letter is M. Postal codes beginning with M are located within the city of Toronto in the province of Ontario. Only the first three characters are listed, corresponding to the Forward Sortation Area.

Toronto - 103 FSAs
Note: There are no rural FSAs in Toronto, hence no postal codes should start with M0, however, the postal code M0R 8T0 is assigned to an Amazon warehouse in Mississauga, suggesting that Canada Post may be allocating the M0 FSA for high volume addresses

### First I import the file from a private location . Note that I early saved it in a csv format

In [192]:
!wget -O Torronto_code.csv https://www.dropbox.com/s/53hntola2d8glpx/Torronto_code.csv?dl=0

--2020-04-08 16:24:44--  https://www.dropbox.com/s/53hntola2d8glpx/Torronto_code.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.8.1, 2620:100:601b:1::a27d:801
Connecting to www.dropbox.com (www.dropbox.com)|162.125.8.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/53hntola2d8glpx/Torronto_code.csv [following]
--2020-04-08 16:24:44--  https://www.dropbox.com/s/raw/53hntola2d8glpx/Torronto_code.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd6e2466232a9f6e22f4bab43d2.dl.dropboxusercontent.com/cd/0/inline/A1cU4Xc2A7GVQDq-KJPzR8jOTVsT81INeelVnBWdfZa627nPwtcWYWmuI5IZ21e6ceH8qHpZvFARVlap8efPxb4aWQMFluJGZuVThzwHvu8n_wOgQBnmsl96_tCC97Wh5Hw/file# [following]
--2020-04-08 16:24:44--  https://ucd6e2466232a9f6e22f4bab43d2.dl.dropboxusercontent.com/cd/0/inline/A1cU4Xc2A7GVQDq-KJPzR8jOTVsT81INeelVnBWdfZa627nPwtcWYWmuI5IZ21e6ceH8qHpZvFARVlap8efPxb4aWQMFluJGZuVThzwHvu8n_wOgQBnmsl96_tCC97Wh5Hw/file
Resolving ucd6e2466232a9f6e22f4bab43d2.dl.dropboxusercontent.com (ucd6e2466232a9f6e22f4bab43d2.dl.dropboxusercontent.com)... 162.125.8.6, 2620:100:601b:6::a27d:806
Connecting to ucd6e2466232a9f6e22f4bab43d2.dl.dropboxusercontent.com (ucd6e2466232a9f6e22f4bab43d2.dl.dropboxusercontent.com)|162.125.8.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6440 (6.3K) [text/plain]
Saving to: ‘Torronto_code.csv’

100%[======================================>] 6,440       --.-K/s   in 0s

2020-04-08 16:24:44 (463 MB/s) - ‘Torronto_code.csv’ saved [6440/6440]

### I import pandas and read the csv file

In [193]:
import pandas as pd
df = pd.read_csv("Torronto_code.csv")
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

### To drop the "Not assigned" rows I start by replacing them with  Nan in the Borough column

In [194]:
#Replace rows Not Assigned by NaN in Borough column
import numpy as np
df['Borough'].replace("Not assigned", np.nan, inplace=True)
df.head()

  Postal code           Borough                Neighborhood
0         M1A               NaN                         NaN
1         M2A               NaN                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

### Now I am dropping all the rows with Nan in "Borough" column

In [195]:
# Drop whole row with Nan in "Borough" column
df.dropna(subset=["Borough"], axis=0, inplace=True)

# reset index, because we droped rows
df.reset_index(drop=True, inplace=True)
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

### I replace "/" with "," in Neighborhood column

In [196]:
# Replace "/" with "," in Neighborhood cloumn
dfA=df["Neighborhood"].str.replace("/", "," ,  regex=True).reset_index(name="Neighborhood")
dfA.head()

   index                                  Neighborhood
0      0                                     Parkwoods
1      1                              Victoria Village
2      2                    Regent Park , Harbourfront
3      3             Lawrence Manor , Lawrence Heights
4      4  Queen's Park , Ontario Provincial Government

### I am going to join the necessary columns by using pd.concat method

In [197]:
# Concatenate selected df column and dfA Neighborhood column "," 
df2=pd.concat([df["Postal code"],df["Borough"],dfA["Neighborhood"]], axis=1)
df2.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

### I am going to use a loop to remplace "Not assigned" in Neighborhood column by value in Borough column

In [198]:
# Test loop to remplace "not assigned" in Neighborhood column by value in Borough column 

for i in range(103):
     A = df2.loc[df2.index[i],"Neighborhood"]
     B = df2.loc[df2.index[i],"Postal code"]
        
     if A == "Not assigned" :
        df2["Neighborhood"].replace("Not assigned", B , inplace=True)
 
df2.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

### I am going to use a loop to remplace blank in Neighborhood column by value in Borough column

In [199]:
# Test loop to remplace the blenk in Neighborhood column by value in Borough column 

for i in range(103):
     A = df2.loc[df2.index[i],"Neighborhood"]
     B = df2.loc[df2.index[i],"Postal code"]
        
     if A == " " :
        df2["Neighborhood"].replace(" ", B , inplace=True)
 
df2.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [200]:
df2.shape

(103, 3)